$primary-color: #34495e;

#page, .inner-wrap{
    max-width: none!important;
    width: 100%!important;
    box-sizing: border-box;
}
#page{
    padding: 32px;
}

#dashboard{
    background-color: #fff;
    padding: 0;
    margin: 0;

    h1, h2, h3, h4{
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: $primary-color;
        font-weight: bold;
    }
    main{
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .boundbox{
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        #left-pane{
            flex-basis: 65%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            #map-container{
                flex-basis: 100%;
                height: calc(50% - 2px);
                padding: 16px;
                box-sizing: border-box;
            }
            #chart-container{
                flex-basis: 100%;
                align-self: flex-end;
                height: calc(50% - 2px);
                padding: 16px;
                box-sizing: border-box;
            }
        }
        #right-pane{
            flex-basis: calc(35% - 16px);
            height: 100%;
            padding: 16px;
            box-sizing: border-box;

            h4{
                margin-bottom: 20px;
            }
            #search-input-container{
                display: flex;
                justify-content: space-between;
                border: 1px solid rgba(0,0,0,0.1);

                .fa{
                    color: $primary-color;
                    flex-basis: 32px ;
                    margin-top: 2px;
                    border-right: 1px solid rgba(0,0,0,0.3);
                    text-align: center;
                    padding: 4px 10px;
                    font-size: 1.1em;
                }

                input{
                    flex-basis: calc(100% - 32px);
                    border: none;
                    outline: none;
                    padding: 0px 10px;
                }
            }


            #country-container{
                height: calc(100vh - 115px);
                background-color: #f0f0f0;
                h6{
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $primary-color;
                    font-size: 1.1em;
                    padding: none;
                }
                #country-report-container{
                    display: flex;
                    margin-top: 20px;
                    background-color: #f0f0f0;
                    display: flex;

                    #label-container{
                        flex-basis: 60%;

                        label{
                            padding-top: 5px;
                            font-style: italic;
                            color: $primary-color;

                        }
                        p{
                            text-align: justify;
                            padding-right: 2px;
                            font-size: 0.9em;

                        }
                    }
                    #country-map-container{
                        display: flex;
                        flex-basis: 40%;
                        justify-content: center;
                        align-items: flex-start;
                        label{
                            padding-top: 20px;
                            color: $primary-color;
                        }
                    }
                }
                #key-figures-container{

                    margin-top: 20px;

                    label{
                        line-height: 2;
                        font-size: 0.9em;
                        padding-left: 32px;
                    }
                        #flex-key{
                            display: flex;
                            #key-part-1{
                                flex-basis: 50%;

                            }

                            #key-part-2{
                                flex-basis: 50%;
                            }
                        }

                }
                #recent-events-container{


                    height: 37%;
                    margin-top: 20px;
                    display: flex;
                }


                #button-wrapper{
                    text-align: center;
                    padding-top: 2px;

                    button{
                        background-color: $primary-color;
                        span{
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
