#page, .inner-wrap {
  max-width: none !important;
  width: 100% !important;
  box-sizing: border-box; }

#page {
  padding: 32px; }

#dashboard {
  background-color: #f0f0f0;
  padding: 0;
  margin: 0; }
  #dashboard h1, #dashboard h2, #dashboard h3, #dashboard h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #34495e;
    font-weight: bold; }
  #dashboard main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #dashboard main .boundbox {
      border: 1px solid rgba(0, 0, 0, 0.1); }
    #dashboard main #left-pane {
      flex-basis: 65%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      #dashboard main #left-pane #map-container {
        flex-basis: 100%;
        height: calc(50% - 2px);
        padding: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between; }
        #dashboard main #left-pane #map-container #map {
          flex-basis: 72%;
          height: 100%;
          box-sizing: border-box; }
          #dashboard main #left-pane #map-container #map #the-map {
            height: 100%; }
        #dashboard main #left-pane #map-container #legend {
          flex-basis: 25%;
          height: 100%;
          padding: 4px;
          box-sizing: border-box; }
          #dashboard main #left-pane #map-container #legend h3 {
            height: 64px;
            padding-left: 3%; }
          #dashboard main #left-pane #map-container #legend > div {
            height: calc(100% - 64px); }
          #dashboard main #left-pane #map-container #legend .legend-element {
            display: flex;
            padding: 3%; }
            #dashboard main #left-pane #map-container #legend .legend-element span {
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: 8px; }
            #dashboard main #left-pane #map-container #legend .legend-element label {
              font-size: 0.8em;
              margin-top: -3px; }
      #dashboard main #left-pane #chart-container {
        flex-basis: 100%;
        align-self: flex-end;
        height: calc(50% - 2px);
        padding: 16px;
        box-sizing: border-box; }
    #dashboard main #right-pane {
      flex-basis: calc(35% - 16px);
      height: 100%;
      padding: 16px;
      box-sizing: border-box; }
      #dashboard main #right-pane h4 {
        margin-bottom: 20px; }
      #dashboard main #right-pane #search-input-container {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.1); }
        #dashboard main #right-pane #search-input-container .fa {
          color: #34495e;
          flex-basis: 32px;
          margin-top: 2px;
          border-right: 1px solid rgba(0, 0, 0, 0.3);
          text-align: center;
          padding: 4px 10px;
          font-size: 1.1em; }
        #dashboard main #right-pane #search-input-container input {
          flex-basis: calc(100% - 32px);
          border: none;
          outline: none;
          padding: 0px 10px; }
      #dashboard main #right-pane #country-container {
        height: calc(100vh - 115px);
        background-color: #f0f0f0; }
        #dashboard main #right-pane #country-container h6 {
          text-transform: uppercase;
          font-weight: bold;
          color: #34495e;
          font-size: 1.1em;
          padding: none; }
        #dashboard main #right-pane #country-container #country-report-container {
          display: flex;
          margin-top: 20px;
          background-color: #f0f0f0;
          display: flex; }
          #dashboard main #right-pane #country-container #country-report-container #label-container {
            flex-basis: 60%; }
            #dashboard main #right-pane #country-container #country-report-container #label-container label {
              padding-top: 5px;
              font-style: italic;
              color: #34495e; }
            #dashboard main #right-pane #country-container #country-report-container #label-container p {
              text-align: justify;
              padding-right: 2px;
              font-size: 0.9em; }
          #dashboard main #right-pane #country-container #country-report-container #country-map-container {
            display: flex;
            flex-basis: 40%;
            justify-content: center;
            align-items: flex-start; }
            #dashboard main #right-pane #country-container #country-report-container #country-map-container label {
              padding-top: 20px;
              color: #34495e; }
        #dashboard main #right-pane #country-container #key-figures-container {
          margin-top: 20px; }
          #dashboard main #right-pane #country-container #key-figures-container label {
            line-height: 2;
            font-size: 0.9em;
            padding-left: 32px; }
          #dashboard main #right-pane #country-container #key-figures-container #flex-key {
            display: flex; }
            #dashboard main #right-pane #country-container #key-figures-container #flex-key #key-1 {
              flex-basis: 50%; }
            #dashboard main #right-pane #country-container #key-figures-container #flex-key #key-2 {
              flex-basis: 50%; }
        #dashboard main #right-pane #country-container #recent-events-container {
          height: 37%;
          margin-top: 20px;
          display: flex; }
        #dashboard main #right-pane #country-container #button-wrapper {
          text-align: center;
          padding-top: 2px; }
          #dashboard main #right-pane #country-container #button-wrapper button {
            background-color: #34495e; }
            #dashboard main #right-pane #country-container #button-wrapper button span {
              padding-left: 5px; }

#country-profile {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  #country-profile h1, #country-profile h2, #country-profile h3, #country-profile h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #34495e;
    font-weight: bold; }
  #country-profile .boundbox {
    border: 1px solid rgba(0, 0, 0, 0.1); }
  #country-profile #country-header {
    flex-basis: 100%;
    height: calc(5% - 2px);
    box-sizing: border-box; }
  #country-profile #map {
    flex-basis: 50%;
    height: calc(45% - 2px);
    padding: 8px;
    box-sizing: border-box; }
    #country-profile #map #map-header {
      border-left: 3px solid #34495e; }
      #country-profile #map #map-header h1 {
        padding-left: 15px;
        line-height: 1;
        color: rgba(0, 0, 0, 0.6);
        font-size: 2em; }
  #country-profile #chart {
    flex-basis: 50%;
    height: calc(45% - 2px);
    padding: 8px;
    box-sizing: border-box;
    display: flex; }
    #country-profile #chart h1 {
      padding-left: 15px;
      line-height: 1;
      color: rgba(0, 0, 0, 0.6);
      font-size: 2em; }
      #country-profile #chart h1 span {
        padding-left: 4px;
        font-weight: lighter; }
    #country-profile #chart #chart-one {
      flex-basis: 50%;
      height: 100%;
      padding: 4px;
      box-sizing: border-box; }
      #country-profile #chart #chart-one #time-series-header {
        border-left: 3px solid #34495e; }
    #country-profile #chart #chart-two {
      flex-basis: 50%;
      height: 100%;
      padding: 4px;
      box-sizing: border-box; }
      #country-profile #chart #chart-two #bar-chart-header {
        border-left: 3px solid #34495e; }
  #country-profile #timeline {
    flex-basis: 50%;
    height: calc(45% - 2px);
    padding: 8px;
    box-sizing: border-box; }
    #country-profile #timeline #timeline-header {
      border-left: 3px solid #34495e; }
      #country-profile #timeline #timeline-header h1 {
        padding-left: 15px;
        line-height: 1;
        color: rgba(0, 0, 0, 0.6);
        font-size: 2em; }
        #country-profile #timeline #timeline-header h1 span {
          padding-left: 4px;
          font-weight: lighter; }
  #country-profile #report {
    flex-basis: 50%;
    height: calc(45% - 2px);
    padding: 8px;
    box-sizing: border-box;
    display: flex; }
    #country-profile #report #text-section {
      flex-basis: 50%;
      height: 100%;
      padding: 4px;
      box-sizing: border-box; }
      #country-profile #report #text-section #report-header {
        border-left: 3px solid #34495e;
        margin-bottom: 48px; }
        #country-profile #report #text-section #report-header h1 {
          padding-left: 15px;
          line-height: 1;
          color: rgba(0, 0, 0, 0.6);
          font-size: 2em; }
          #country-profile #report #text-section #report-header h1 span {
            padding-left: 4px;
            font-weight: lighter; }
    #country-profile #report #report-text {
      margin-top: 15px;
      font-size: 0.8em;
      text-align: justify; }
    #country-profile #report #thumbnail-one {
      flex-basis: 25%;
      height: 100%; }
    #country-profile #report #thumbnail-two {
      flex-basis: 25%;
      height: 100%; }

/*# sourceMappingURL=main.css.map */
