$primary-color: #34495e;

#page, .inner-wrap{
    max-width: none!important;
    width: 100%!important;
    box-sizing: border-box;
}
#page{
    padding: 32px;
}

#dashboard{
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;

    h1, h2, h3, h4{
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: $primary-color;
        font-weight: bold;
    }
    #main{
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .boundbox{
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        #left-pane{
            flex-basis: 65%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            #map-container{
                flex-basis: 100%;
                height: calc(50% - 2px);
                padding: 16px;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;

                #map{
                    flex-basis: 72%;
                    height: 100%;
                    box-sizing: border-box;

                    #the-map{
                        height: 100%;


                    }
                }
                #legend{
                    flex-basis: 25%;
                    height: 100%;
                    padding: 4px;
                    box-sizing: border-box;
                    // border-left: 1px solid rgba(0, 0, 0, 0.1);

                    h3{
                        height: 64px;
                        padding-left: 3%;
                    }
                    > div{
                        height: calc(100% - 64px);
                    }

                    .legend-element{
                        display: flex;
                        padding: 3%;

                        span{
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin-right: 8px;
                        }
                        label{
                            font-size: 0.8em;
                            margin-top: -3px;
                        }
                    }
                }


            }
            #chart-container{
                flex-basis: 100%;
                align-self: flex-end;
                height: calc(50% - 2px);
                padding: 16px;
                box-sizing: border-box;
            }
        }
        #right-pane{
            flex-basis: calc(35% - 16px);
            height: 100%;
            padding: 16px;
            box-sizing: border-box;

            h4{
                margin-bottom: 20px;
            }
            #search-input-container{
                display: flex;
                justify-content: space-between;
                border: 1px solid rgba(0,0,0,0.1);

                .fa{
                    color: $primary-color;
                    flex-basis: 32px ;
                    margin-top: 2px;
                    border-right: 1px solid rgba(0,0,0,0.3);
                    text-align: center;
                    padding: 4px 10px;
                    font-size: 1.1em;
                }

                input{
                    flex-basis: calc(100% - 32px);
                    border: none;
                    outline: none;
                    padding: 0px 10px;
                }
            }


            #country-container{
                height: calc(100vh - 115px);
                background-color: #f0f0f0;
                h6{
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $primary-color;
                    font-size: 1.1em;
                    padding: none;
                }
                #country-report-container{
                    display: flex;
                    margin-top: 20px;
                    background-color: #f0f0f0;
                    display: flex;

                    #label-container{
                        flex-basis: 60%;

                        label{
                            padding-top: 5px;
                            font-style: italic;
                            color: $primary-color;

                        }
                        p{
                            text-align: justify;
                            padding-right: 2px;
                            font-size: 0.9em;

                        }
                    }
                    #country-map-container{
                        display: flex;
                        flex-basis: 40%;
                        justify-content: center;
                        align-items: flex-start;
                        label{
                            padding-top: 20px;
                            color: $primary-color;
                        }
                    }
                }
                #key-figures-container{

                    margin-top: 20px;

                    label{
                        line-height: 2;
                        font-size: 0.9em;
                        padding-left: 32px;
                    }
                        #flex-key{
                            display: flex;
                            #key-1{
                                flex-basis: 50%;

                            }

                            #key-2{
                                flex-basis: 50%;
                            }
                        }

                }
                #recent-events-container{


                    height: 37%;
                    margin-top: 20px;
                    display: flex;
                }


                #button-wrapper{
                    text-align: center;
                    padding-top: 2px;

                    button{
                        background-color: $primary-color;
                        span{
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

#country-profile{
    background-color: #f0f0f0;
    height: 100vh;
    h1, h2, h3, h4{
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        color: $primary-color;
        font-weight: bold;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .boundbox{
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    #country-header{
        flex-basis: 100%;
        height: calc(5% - 2px);
        box-sizing: border-box;

    }

    #map{
        flex-basis: 50%;
        height: calc(45% - 2px);
        padding: 8px;
        box-sizing: border-box;

        #map-header{
            border-left: 3px solid $primary-color;
            h1{
                padding-left: 15px;
                line-height: 1;
                color: rgba(0,0,0,0.6);
                font-size: 2em;

            }
        }

    }
    #chart{
        flex-basis: 50%;
        height: calc(45% - 2px);
        padding: 8px;
        box-sizing: border-box;
        display: flex;

        h1{
            padding-left: 15px;
            line-height: 1;
            color: rgba(0,0,0,0.6);
            font-size: 2em;

            span {
                padding-left: 4px;
                font-weight: lighter;
            }
        }
        #chart-one{
            flex-basis: 50%;
            height: 100%;
            padding: 4px;
            box-sizing: border-box;

            #time-series-header{
                border-left: 3px solid $primary-color;

            }
            #time-series{
            }

        }
        #chart-two{
            flex-basis: 50%;
            height:100%;
            padding: 4px;
            box-sizing: border-box;

            #bar-chart-header{
                border-left: 3px solid $primary-color;

            }
            #bar-chart{

            }

        }
    }

    #timeline{
        flex-basis: 50%;
        height: calc(45% - 2px);
        padding: 8px;
        box-sizing: border-box;

        #timeline-header{
            border-left: 3px solid $primary-color;
            h1{
                padding-left: 15px;
                line-height: 1;
                color: rgba(0,0,0,0.6);
                font-size: 2em;

                span {
                    padding-left: 4px;
                    font-weight: lighter;
                }
            }
        }
    }
    #report{
        flex-basis: 50%;
        height: calc(45% - 2px);
        padding: 8px;
        box-sizing: border-box;
        display: flex;

        #text-section{
            flex-basis: 50%;
            height: 100%;
            padding: 4px;
            box-sizing: border-box;

            #report-header{
                border-left: 3px solid $primary-color;
                margin-bottom: 48px;
                h1{
                    padding-left: 15px;
                    line-height: 1;
                    color: rgba(0,0,0,0.6);
                    font-size: 2em;

                    span {
                        padding-left: 4px;
                        font-weight: lighter;
                    }
                }
            }
        }

        #report-text{
            margin-top: 15px;
            font-size: 0.8em;
            text-align:justify;
        }

        #thumbnail-one{
            flex-basis: 25%;
            height: 100%;

        }
        #thumbnail-two{
            flex-basis: 25%;
            height: 100%;

        }
    }

}
