body #page, body .inner-wrap {
  max-width: none !important;
  width: 100% !important;
  box-sizing: border-box; }
body #page {
  padding: 32px; }
body #main {
  padding: 0; }
body #header-text-nav-container {
  border-bottom: none !important; }
body .header-post-title-container {
  border-bottom: 1px solid transparent !important;
  background-color: transparent;
  box-shadow: none !important; }
body #dashboard * {
  box-sizing: border-box; }
body #dashboard h1, body #dashboard h2, body #dashboard h3, body #dashboard h4, body #dashboard h5 {
  margin: 0;
  padding: 0;
  text-transform: uppercase; }
body #dashboard #main-dashboard {
  display: flex; }
  body #dashboard #main-dashboard #left-section {
    flex-basis: 70%;
    height: 90vh; }
    body #dashboard #main-dashboard #left-section .map-container {
      height: 50vh;
      display: flex; }
      body #dashboard #main-dashboard #left-section .map-container #world-map {
        flex-basis: 60%;
        background-color: rgba(1, 1, 1, 0.1); }
      body #dashboard #main-dashboard #left-section .map-container .legend {
        flex-basis: 40%; }
        body #dashboard #main-dashboard #left-section .map-container .legend header {
          display: flex;
          height: 64px;
          align-items: center;
          padding: 0 10px; }
          body #dashboard #main-dashboard #left-section .map-container .legend header h4 {
            font-size: 1em; }
        body #dashboard #main-dashboard #left-section .map-container .legend .legend-elements .legend-element {
          min-height: 24px;
          display: flex;
          align-items: center;
          padding: 6px 10px; }
          body #dashboard #main-dashboard #left-section .map-container .legend .legend-elements .legend-element .color-box {
            width: 16px;
            height: 16px;
            flex-grow: 0;
            flex-shrink: 0;
            background-color: green; }
          body #dashboard #main-dashboard #left-section .map-container .legend .legend-elements .legend-element label {
            display: inline-block;
            margin-left: 10px; }
    body #dashboard #main-dashboard #left-section #carousel-container {
      height: 40vh;
      background-color: pink; }
  body #dashboard #main-dashboard #right-section {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    flex-basis: 30%;
    height: 90vh; }
    body #dashboard #main-dashboard #right-section header {
      height: 64px;
      padding: 0 10px;
      display: flex;
      align-items: center; }
      body #dashboard #main-dashboard #right-section header h3 {
        font-size: 1.2em; }
body .marker-cluster-small {
  background-color: rgba(100, 200, 140, 0.6); }
body .marker-cluster-medium {
  background-color: rgba(204, 200, 140, 0.6); }
body .marker-cluster-large {
  background-color: rgba(200, 100, 140, 0.6); }
body .marker-cluster {
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  body .marker-cluster div {
    border-radius: 50%; }
  body .marker-cluster span {
    font-size: 0.9em;
    font-weight: bold; }
body .leaflet-popup-content div {
  display: flex; }
  body .leaflet-popup-content div label {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=main.css.map */
