body .header-post-title-container {
  display: none; }
body #page, body .inner-wrap {
  max-width: none !important;
  width: 100% !important;
  box-sizing: border-box; }
body #page {
  background-color: #eee;
  padding: 32px; }
body #main {
  padding: 0; }
body #header-text-nav-container {
  border-bottom: none !important; }
body .header-post-title-container {
  border-bottom: 1px solid transparent !important;
  background-color: transparent;
  box-shadow: none !important; }
body #dashboard {
  padding-bottom: 16px; }
  body #dashboard * {
    box-sizing: border-box; }
  body #dashboard h1, body #dashboard h2, body #dashboard h3, body #dashboard h4, body #dashboard h5 {
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  body #dashboard #main-dashboard {
    display: flex;
    justify-content: space-between; }
    body #dashboard #main-dashboard #left-section {
      flex-basis: calc(64% - 16px);
      height: 90vh; }
      body #dashboard #main-dashboard #left-section .map-container {
        height: calc(50vh - 16px);
        margin-bottom: 16px;
        display: flex;
        background-color: #fff;
        box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.5); }
        body #dashboard #main-dashboard #left-section .map-container #world-map {
          flex-basis: 64%;
          background-color: rgba(1, 1, 1, 0.1); }
        body #dashboard #main-dashboard #left-section .map-container .legend {
          flex-basis: 36%; }
          body #dashboard #main-dashboard #left-section .map-container .legend header {
            display: flex;
            height: 48px;
            align-items: center;
            padding: 0 10px; }
            body #dashboard #main-dashboard #left-section .map-container .legend header h4 {
              font-size: 1em; }
          body #dashboard #main-dashboard #left-section .map-container .legend .legend-elements .legend-element {
            min-height: 24px;
            display: flex;
            align-items: center;
            padding: 6px 10px; }
            body #dashboard #main-dashboard #left-section .map-container .legend .legend-elements .legend-element .color-box {
              width: 16px;
              height: 16px;
              flex-grow: 0;
              flex-shrink: 0;
              background-color: green; }
            body #dashboard #main-dashboard #left-section .map-container .legend .legend-elements .legend-element label {
              display: inline-block;
              margin-left: 10px;
              text-transform: capitalize; }
        @media only screen and (max-width: 512px) {
          body #dashboard #main-dashboard #left-section .map-container {
            flex-wrap: wrap;
            height: auto; }
            body #dashboard #main-dashboard #left-section .map-container #world-map {
              flex-basis: 100%;
              height: 360px; }
            body #dashboard #main-dashboard #left-section .map-container .legend {
              flex-basis: 100%; } }
      body #dashboard #main-dashboard #left-section #carousel-container {
        height: 40vh;
        background-color: #fff;
        position: relative;
        box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.5); }
        body #dashboard #main-dashboard #left-section #carousel-container:hover button {
          opacity: 0.3; }
        body #dashboard #main-dashboard #left-section #carousel-container button {
          position: absolute;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          padding: 0;
          opacity: 0.3;
          top: calc(50% - 24px);
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          transition: 0.2s all ease-in-out;
          outline: none; }
          body #dashboard #main-dashboard #left-section #carousel-container button#carousel-left {
            left: 10px; }
          body #dashboard #main-dashboard #left-section #carousel-container button#carousel-right {
            right: 10px; }
          body #dashboard #main-dashboard #left-section #carousel-container button:hover {
            opacity: 1; }
        body #dashboard #main-dashboard #left-section #carousel-container .carousel {
          width: 100%;
          height: 100%;
          padding: 16px 24px; }
          body #dashboard #main-dashboard #left-section #carousel-container .carousel img {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            object-fit: scale-down;
            object-position: center center; }
    body #dashboard #main-dashboard #right-section {
      flex-basis: 36%;
      height: 90vh; }
      body #dashboard #main-dashboard #right-section #crisis-profile-container {
        background-color: #fff;
        height: 100%;
        box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.5); }
        body #dashboard #main-dashboard #right-section #crisis-profile-container > header {
          padding: 0 16px;
          height: 64px;
          display: flex;
          align-items: center; }
        body #dashboard #main-dashboard #right-section #crisis-profile-container .select-wrapper {
          height: 32px;
          display: flex;
          align-items: center;
          padding: 0 10px;
          margin-bottom: 16px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
          body #dashboard #main-dashboard #right-section #crisis-profile-container .select-wrapper .fa {
            flex-basis: 32px;
            text-align: center; }
          body #dashboard #main-dashboard #right-section #crisis-profile-container .select-wrapper .selectize-control {
            .flex-basis: calc(100% - 32px); }
            body #dashboard #main-dashboard #right-section #crisis-profile-container .select-wrapper .selectize-control input {
              margin-bottom: 0;
              background-color: transparent;
              font-size: inherit; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container .select-wrapper .selectize-control .crisis-profile-select-item .title {
              font-weight: bold; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container .select-wrapper .selectize-control .crisis-profile-select-item:not(:last-child) {
              border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
        body #dashboard #main-dashboard #right-section #crisis-profile-container #report {
          min-height: 22vh;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0 16px; }
          body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail {
            flex-basis: calc(100% - 180px);
            flex-grow: 0; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail .title {
              font-size: 1em;
              text-transform: uppercase; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail date {
              color: rgba(0, 0, 0, 0.5);
              font-size: 0.9em; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail .description {
              padding: 10px 0;
              color: rgba(0, 0, 0, 0.6);
              text-align: justify; }
          body #dashboard #main-dashboard #right-section #crisis-profile-container #report .map {
            flex-basis: 160px;
            height: 160px;
            margin-top: 16px;
            flex-shrink: 0;
            background-color: #aaa; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container #report .map #crisis-profile-map {
              width: 100%;
              height: 100%; }
          @media only screen and (max-width: 1080px) {
            body #dashboard #main-dashboard #right-section #crisis-profile-container #report {
              flex-direction: column; }
              body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between; }
                body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail .title {
                  flex-basis: 70%; }
                body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail .date {
                  flex-basis: 30%; }
                body #dashboard #main-dashboard #right-section #crisis-profile-container #report .detail .description {
                  flex-basis: 100%; }
              body #dashboard #main-dashboard #right-section #crisis-profile-container #report .map {
                margin-top: 0;
                flex-basis: 100%;
                width: 100%; } }
        body #dashboard #main-dashboard #right-section #crisis-profile-container #key-figures-section {
          height: 22vh;
          display: flex;
          align-items: center;
          flex-wrap: wrap; }
          body #dashboard #main-dashboard #right-section #crisis-profile-container #key-figures-section header {
            flex-basis: 100%;
            height: 48px;
            padding: 0 16px;
            display: flex;
            align-items: center; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container #key-figures-section header h5 {
              font-size: 1em; }
          body #dashboard #main-dashboard #right-section #crisis-profile-container #key-figures-section #key-figures {
            width: 100%;
            height: calc(100% - 48px); }
            body #dashboard #main-dashboard #right-section #crisis-profile-container #key-figures-section #key-figures .key-figure {
              flex-basis: 100%;
              min-height: 32px;
              padding: 0 16px;
              display: flex;
              align-items: center; }
              body #dashboard #main-dashboard #right-section #crisis-profile-container #key-figures-section #key-figures .key-figure label {
                font-size: 0.8em;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
                margin-right: 8px; }
              body #dashboard #main-dashboard #right-section #crisis-profile-container #key-figures-section #key-figures .key-figure:nth-child(odd) {
                background-color: #f0f0f0; }
        body #dashboard #main-dashboard #right-section #crisis-profile-container #recent-events-section {
          height: calc(100% - 44vh - 32px -64px);
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center; }
          body #dashboard #main-dashboard #right-section #crisis-profile-container #recent-events-section header {
            flex-basis: 100%;
            height: 64px;
            padding: 0 16px; }
            body #dashboard #main-dashboard #right-section #crisis-profile-container #recent-events-section header h5 {
              font-size: 1em; }
          body #dashboard #main-dashboard #right-section #crisis-profile-container #recent-events-section a {
            height: calc(100% - 64px); }
    @media only screen and (max-width: 768px) {
      body #dashboard #main-dashboard {
        flex-wrap: wrap; }
        body #dashboard #main-dashboard #left-section {
          flex-basis: 100%;
          height: auto; }
        body #dashboard #main-dashboard #right-section {
          flex-basis: 100%;
          margin-top: 12px;
          height: auto; } }
  body #dashboard #country-profile {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
    padding-top: 0;
    background-color: #eee;
    z-index: 1111; }
    body #dashboard #country-profile > div {
      box-shadow: 0 2px 15px -5px rgba(0, 0, 0, 0.5);
      height: calc(50% - 8px - 32px);
      background-color: #fff; }
    body #dashboard #country-profile > header {
      height: 64px;
      flex-basis: 100%;
      display: flex;
      align-items: center; }
      body #dashboard #country-profile > header a {
        cursor: pointer;
        color: inherit; }
      body #dashboard #country-profile > header #country-name {
        color: inherit;
        font-size: 1em;
        padding: 0 16px; }
    body #dashboard #country-profile #country-map-container {
      flex-basis: calc(60% - 16px);
      margin-bottom: 16px;
      display: flex; }
      body #dashboard #country-profile #country-map-container #country-map {
        flex-basis: 64%;
        height: 100%; }
      body #dashboard #country-profile #country-map-container .legend {
        flex-basis: 36%; }
        body #dashboard #country-profile #country-map-container .legend header {
          display: flex;
          height: 48px;
          align-items: center;
          padding: 0 10px; }
          body #dashboard #country-profile #country-map-container .legend header h4 {
            font-size: 1em; }
        body #dashboard #country-profile #country-map-container .legend .legend-elements .legend-element {
          min-height: 24px;
          display: flex;
          align-items: center;
          padding: 6px 10px; }
          body #dashboard #country-profile #country-map-container .legend .legend-elements .legend-element .color-box {
            width: 16px;
            height: 16px;
            flex-grow: 0;
            flex-shrink: 0;
            background-color: green; }
          body #dashboard #country-profile #country-map-container .legend .legend-elements .legend-element label {
            display: inline-block;
            margin-left: 10px; }
    body #dashboard #country-profile #country-report-container {
      flex-basis: calc(40%);
      margin-bottom: 16px; }
      body #dashboard #country-profile #country-report-container header {
        height: 56px;
        padding: 0 24px;
        display: flex;
        align-items: center; }
        body #dashboard #country-profile #country-report-container header h4 {
          font-size: 1em; }
    body #dashboard #country-profile #timeline-container {
      flex-basis: calc(50% - 32px);
      display: flex;
      position: relative; }
      body #dashboard #country-profile #timeline-container:after {
        content: '';
        position: absolute;
        left: 16px;
        top: calc(50% - 4px);
        width: calc(100% - 32px);
        height: 8px;
        border-radius: 4px;
        background-color: #34495e; }
      body #dashboard #country-profile #timeline-container .timeline-element {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        max-width: 320px; }
        body #dashboard #country-profile #timeline-container .timeline-element .number {
          order: 2;
          font-size: 1.2em;
          font-weight: 600;
          flex-basis: 33%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1; }
          body #dashboard #country-profile #timeline-container .timeline-element .number span {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #34495e;
            color: #fff; }
          body #dashboard #country-profile #timeline-container .timeline-element .number:after {
            z-index: 0;
            position: absolute;
            content: '';
            width: 6px;
            border-radius: 3px;
            height: 7%;
            left: calc(50% - 3px);
            background-color: #34495e; }
        body #dashboard #country-profile #timeline-container .timeline-element .description {
          order: 3;
          flex-basis: 33%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          body #dashboard #country-profile #timeline-container .timeline-element .description h5 {
            font-size: 1em; }
          body #dashboard #country-profile #timeline-container .timeline-element .description p {
            font-size: 11px;
            line-height: 1.25;
            margin: 0;
            text-align: justify; }
        body #dashboard #country-profile #timeline-container .timeline-element img {
          flex-basis: 33%;
          width: 100%;
          object-fit: scale-down;
          object-position: center center;
          order: 1;
          flex-grow: 0;
          margin: 0; }
        body #dashboard #country-profile #timeline-container .timeline-element:nth-child(odd) .description {
          order: 1;
          justify-content: flex-end; }
        body #dashboard #country-profile #timeline-container .timeline-element:nth-child(odd) img {
          order: 2; }
        body #dashboard #country-profile #timeline-container .timeline-element:nth-child(odd) .number:after {
          top: calc(50% + 24px); }
        body #dashboard #country-profile #timeline-container .timeline-element:nth-child(even) .number:after {
          bottom: calc(50% + 30px); }
    body #dashboard #country-profile #time-series-container {
      flex-basis: 25%; }
      body #dashboard #country-profile #time-series-container header {
        height: 56px;
        padding: 0 24px;
        display: flex;
        align-items: center; }
        body #dashboard #country-profile #time-series-container header h4 {
          font-size: 1em; }
      body #dashboard #country-profile #time-series-container #time-series {
        height: calc(100% - 48px); }
        body #dashboard #country-profile #time-series-container #time-series svg {
          width: 100%;
          height: 100%; }
          body #dashboard #country-profile #time-series-container #time-series svg .riot-line {
            fill: none;
            stroke: #e67e22;
            stroke-width: 2px; }
          body #dashboard #country-profile #time-series-container #time-series svg .other-line {
            fill: none;
            stroke: #2c3e50;
            stroke-width: 2px; }
          body #dashboard #country-profile #time-series-container #time-series svg .x-axis text {
            transform: translate(5px, 5px) rotate(45deg); }
          body #dashboard #country-profile #time-series-container #time-series svg .legend text {
            font-size: 10px; }
    body #dashboard #country-profile #bar-chart-container {
      flex-basis: 25%; }
      body #dashboard #country-profile #bar-chart-container header {
        height: 56px;
        padding: 0 24px;
        display: flex;
        align-items: center; }
        body #dashboard #country-profile #bar-chart-container header h4 {
          font-size: 1em; }
      body #dashboard #country-profile #bar-chart-container #bar-chart {
        height: calc(100% - 48px); }
        body #dashboard #country-profile #bar-chart-container #bar-chart svg {
          width: 100%;
          height: 100%; }
          body #dashboard #country-profile #bar-chart-container #bar-chart svg rect {
            fill: rgba(62, 88, 173, 0.3);
            stroke: rgba(62, 88, 173, 0.33); }
          body #dashboard #country-profile #bar-chart-container #bar-chart svg .label {
            font-size: 0.6em; }
          body #dashboard #country-profile #bar-chart-container #bar-chart svg .x-axis text {
            transform: translate(5px, 5px) rotate(45deg); }
body .marker-cluster {
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3); }
  body .marker-cluster div {
    border-radius: 50%; }
  body .marker-cluster span {
    font-size: 0.9em;
    font-weight: bold; }
body .leaflet-popup-content div {
  display: flex; }
  body .leaflet-popup-content div label {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5); }

.tooltip {
  z-index: 10;
  color: white;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  font: 12px sans-serif;
  position: absolute; }

/*# sourceMappingURL=main.css.map */
