.legend {
    padding: 10px 16px;

    .legend-elements{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: 100%;

        .legend-element {
            display: flex;
            align-items: center;
            padding: 4px 6px;
            cursor: pointer;
            user-select: none;
            opacity: 0.2;

            input {
                display: none;
            }
            .color-box {
                width: 10px;
                height: 10px;
                flex-grow: 0;
                flex-shrink: 0;
                border-radius: 50%;
            }
            .name {
                display: inline-block;
                margin-left: 4px;
                user-select: none;

                &:first-letter{
                    text-transform: uppercase;
                }
            }

            &.checked {
                opacity: 1;
            }
        }
    }
}
