@import 'base';

body {
    #page, .inner-wrap{
        max-width: none!important;
        width: 100%!important;
        box-sizing: border-box;
    }
    #page{
        padding: 32px;
    }
    #main{
        padding: 0;
    }
    #header-text-nav-container{
        border-bottom: none!important;
    }
    .header-post-title-container{
        border-bottom: 1px solid transparent!important;
        background-color: transparent;
        box-shadow: none!important;
    }
    #dashboard {
        * {
            box-sizing: border-box;
        }
        h1, h2, h3, h4, h5 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }

        #main-dashboard {
            display: flex;

            #left-section {
                flex-basis: 70%;
                height: 90vh;

                .map-container {
                    height: 50vh;
                    display: flex;

                    #world-map {
                        flex-basis: 60%;
                        background-color: rgba(1, 0.5, 0.6, 0.1);
                    }
                    .legend {
                        flex-basis: 40%;

                        header {
                            display: flex;
                            height: 64px;
                            align-items: center;
                            padding: 0 10px;

                            h4 {
                                font-size: 1em;
                            }
                        }
                        .legend-elements{
                            .legend-element {
                                min-height: 24px;
                                display: flex;
                                align-items: center;
                                padding: 6px 10px;

                                .color-box {
                                    width: 16px;
                                    height: 16px;
                                    flex-grow: 0;
                                    flex-shrink: 0;
                                    background-color: green;
                                }
                                label {
                                    display: inline-block;
                                    margin-left: 10px;
                                }
                            }

                        }
                    }
                }

                #carousel-container {
                    height: 40vh;
                    background-color: pink;
                }

            }
            #right-section{
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                flex-basis: 30%;
                height: 90vh;

                header {
                    height: 64px;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;

                    h3 {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    .marker-cluster-small {
        background-color: rgba(100, 200, 140, 0.6);

        // div{
        //     background-color: rgba(100, 200, 140, 0.8);
        // }
    }
    .marker-cluster-medium {
        background-color: rgba(204, 200, 140, 0.6);

        // div{
        //     background-color: rgba(204, 200, 140, 0.8);
        // }
    }
    .marker-cluster-large {
        background-color: rgba(200, 100, 140, 0.6);

        // div{
        //     background-color: rgba(200, 100, 140, 0.8);
        // }
    }
    .marker-cluster {
        background-clip: padding-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        div {
            border-radius: 50%;
        }
        span {
            font-size: 0.9em;
            font-weight: bold;
        }
    }

    .leaflet-popup-content{
        div {
            display: flex;

            label {
                display: inline-block;
                margin-right: 10px;
                font-size: 0.9em;
                font-weight: bold;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
            }
        }

    }
}
