@import 'base';
@import 'country-profile';

body {
    .header-post-title-container {
        display: none;
    }
    #page, .inner-wrap{
        max-width: none!important;
        width: 100%!important;
        box-sizing: border-box;
    }
    #page{
        background-color: #f8f8f8;
        padding: 0 24px;
    }
    #main{
        padding: 0;
    }
    #header-text-nav-container{
        border-bottom: none!important;
    }
    .header-post-title-container{
        border-bottom: 1px solid transparent!important;
        background-color: transparent;
        box-shadow: none!important;
    }


    #dashboard-container-before {
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa {
            margin-right: 10px;
        }

        >div {
            font-size: 2em;
        }
    }
    #dashboard-container {
        padding-bottom: 16px;

        * {
            box-sizing: border-box;
        }
        h1, h2, h3, h4, h5 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }

        #main-dashboard {
            display: flex;
            justify-content: space-between;

            #left-section {
                flex-basis: calc(64% - 16px);

                @import 'main-dashboard/world-map';
                @import 'main-dashboard/carousel';
            }
            #right-section{
                flex-basis: 36%;
                height: 100vh;

                @import 'main-dashboard/crisis-profile';
            }
             
            @media only screen and (max-width: 768px) {
                flex-wrap: wrap;

                #left-section{
                    flex-basis: 100%;
                    height: auto;
                }
                #right-section{
                    flex-basis: 100%;
                    margin-top: 12px;
                    height: auto;
                }
            }
        }
    }
     
//     
//     .marker-cluster {
//         background-clip: padding-box;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 50%;
//         background-color: rgba(0, 0, 0, 0.3);
// 
//         div {
//             border-radius: 50%;
//         }
//         span {
//             font-size: 0.9em;
//             font-weight: bold;
//         }
//     }
// 
//     .leaflet-popup-content{
//         div {
//             display: flex;
// 
//             label {
//                 display: inline-block;
//                 margin-right: 10px;
//                 font-size: 0.9em;
//                 font-weight: bold;
//                 text-transform: uppercase;
//                 color: rgba(0, 0, 0, 0.5);
//             }
//         }
// 
//     }
}

.tooltip {
    z-index: 1111;
    color: #fff;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    position: absolute;

    label {
        text-transform: uppercase;
        font-size: 0.8em;
        margin-right: 6px;
        color: rgba(255, 255, 255, 0.6);

        &:after {
            content: ':'
        }
    }

    span {
        font-weight: bold;
    }
}
