#country-report-container {
    flex-basis: calc(50% - 8px);
    margin-bottom: 16px;

    header {
        height: 56px;
        padding: 0 24px;
        display: flex;
        align-items: center;

        h4 {
            font-size: 1em;
        }
    }

    #country-report-empty {
        height: 412px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 3em;
        color: rgba(0, 0, 0, 0.1);
    }

    .content {
        height: 412px;
        display: flex;

        .preview {
            flex-basis: 50%;
            padding: 0 10px 16px 16px;

            img {
                margin: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                overflow: hidden;
            }
        }

        .details {
            flex-basis: 50%;
            padding: 0 16px 10px 10px;
            display: flex;
            flex-direction: column;

            h5 {
                font-size: 1em;
                flex-shrink: 0;
            }
            
            date {
                font-size: 0.8em;
                color: rgba(0, 0, 0, 0.5);
                flex-shrink: 0;
                padding-bottom: 8px;
            }

            p {
                flex-grow: 1;
                margin: 0;
                padding: 10px 0;
                text-align: justify;
                overflow-y: auto;
            }

            a {
                flex-shrink: 0;
                padding: 10px 0;
                text-trasform: uppercase;
            }
        }

        &.no-preview {
            .details {
                flex-basis: 100%;
                padding: 0 24px 10px;
            }
        }
    }
}
