#country-map-container {
    flex-basis: calc(50% - 8px);
    margin-bottom: 16px;
    height: 50vh;

    #country-map {
        height: calc(100% - 96px);
         
        .map-scale {
            >div {
                height: 14px;
                overflow-y: hidden;
                display: flex;
                align-items: center;
                margin: 10px 0;
                 
                span {
                    display: inline-block;
                    background-color: #717171;
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                    border-bottom-right-radius: 50%;
                }

                label {
                    margin-right: 10px;
                    width: 32px;
                    text-align: right;
                }

            }
        }
    }
    .legend {
        padding-bottom: 10px;
        height: 96px;

        .legend-elements{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: center;
            height: 100%;

            .legend-element {
                display: flex;
                align-items: center;
                padding: 1px 10px;

                .color-box {
                    width: 12px;
                    height: 12px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    border-radius: 50%;
                }
                label {
                    display: inline-block;
                    margin-left: 6px;

                    &:first-letter{
                        text-transform: uppercase;
                    }
                }
            }

        }
    }
    @media screen and (max-width: 1080px) {
        #country-map {
            height: calc(100% - 108px);
        }
        .legend {
            height: 108px;
        }
    }
    @media screen and (max-width: 720px) {
        height: auto;



        #country-map {
            height: 360px;
        }
        .legend {
            height: auto;
        }
    }
}
