#carousel-container {
    height: 480px;
    background-color: #fff;
    position: relative;

    &:hover {
        button {
            opacity: 0.3;
        }
    }

    button {
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        padding: 0;
        opacity: 0.3;
        top: calc(50% - 24px);
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        transition: 0.2s all ease-in-out;
        outline: none;
        z-index: 11;

        &#carousel-left {
            left: 10px;
        }
        &#carousel-right {
            right: 10px;
        }

        &:hover {
            opacity: 1;
        }
    }
    .loader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
    }
    .carousel {
        width: 100%;
        height: 100%;
        padding: 16px 24px;
        z-index: 1;

        a {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            object-fit: scale-down;
            object-position: center center;
        }
    }
    @media screen and (max-width: 720px) {
        height: auto;
        min-height: 196px;
    }
}
