#crisis-profile-container {
    background-color: #fff;
    height: 100%;

    > header {
        padding: 0 16px;
        height: 64px;
        display: flex;
        align-items: center;
    }

    .select-wrapper {
        height: 32px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin-bottom: 16px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);

        .fa {
            flex-basis: 32px;
            text-align: center;
        }
        .selectize-control {
            .flex-basis: calc(100% - 32px);
            cursor: default;

            .selectize-input {
                cursor: pointer;
            }

            input {
                margin-bottom: 0;
                background-color: transparent;
                font-size: inherit;
            }
            .crisis-profile-select-item {
                .title {
                    font-weight: bold;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
     
    #report {
        display: flex;
        justify-content: space-between;

        .detail {
            flex-basis: 50%;
            height: 320px;
            padding: 0 10px;
             
            .title {
                font-size: 1em;
                text-transform: uppercase;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                line-height: 1;
                margin-bottom: 6px;
            }

            date {
                color: rgba(0, 0, 0, 0.5);
                font-size: 0.9em;
                display: block;
                line-height: 1;
            }
             
            .description {
                height: calc(100% - 1.9em - 16px);
                overflow-y: auto;
                margin-top: 10px;
                color: rgba(0, 0, 0, 0.6);
                text-align: justify;
            }
        }
         
        .map {
            padding: 0 10px;
            flex-basis: 50%;
            height: 320px;

            #crisis-profile-map {
                background-color: #aaa;
                width: 100%;
                height: 100%;
            }

        }
        @media only screen and (max-width: 1080px) {
            flex-wrap: wrap;
             
            .detail {
                order: 2;
                flex-basis: 100%;
                height: auto;
                margin-top: 10px;

                .description{
                    height: auto;
                    max-height: 120px;
                    overflow-y: auto;
                }
            }
             
            .map {
                order: 1;
                flex-basis: 100%;
                height: 240px;
                width: 100%;
            }
        }
    }

    #key-figures-section {
        border-top: 2px solid rgba(0, 0, 0, 0.1);

        header {
            flex-basis: 100%;
            height: 48px;
            padding: 0 16px;
            display: flex;
            align-items: center;

            h5 {
                font-size: 1em;
            }
        }
        #key-figures {
            .key-figure {
                flex-basis: 50%;
                height: 32px;
                padding: 0 16px;
                display: flex;
                align-items: center;

                label {
                    font-size: 0.8em;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.5);
                    margin-right: 8px;
                }
                &:nth-child(odd) {
                    background-color: #f0f0f0;
                }
            }
        }
    }

    #recent-events-section {
        padding: 24px 16px;
        border-top: 2px solid rgba(0, 0, 0, 0.1);

        header {
            display: none;
        }

        a {
            display: none;
            width: 100%;
            height: 360px;
            text-align: center;
            outline: none;
            box-shadow: none;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center center;
                margin: 0;

                &.no-img {
                    display: none;
                }
            }
        }

        #report-image-empty {
            font-size: 2em;
            color: rgba(0, 0, 0, 0.3);
            height: calc(100% - 48px);
            min-height: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media screen and (max-width: 1080px) {
            a {
                height: 300px;
            }
            #report-image-empty{
                font-size: 2em;
            }
        }
    }
     
    @media screen and (max-width: 720px) {
        height: auto;
    }
}
