.map-container {
    background-color: #fff;
    margin-bottom: 10px;

    #world-map {
        height: 480px;
        background-color: rgba(0, 0, 0, 0.1);

        path.leaflet-map-pane {
            z-index: 11;
        }

        .leaflet-popup-content-wrapper {
            background-color: rgba(0, 0, 0, 0.75);
            color: #fff;
            border-radius: 3px;

            .leaflet-popup-content {
                font-size: 1em;
            }
        }

        .leaflet-popup-tip {
            background-color: rgba(0, 0, 0, 0.75);
        }

        // .leaflet-popup-pane {
        //     .leaflet-popup-close-button {
        //         color: #fff;
        //     }
        // }

        @import '../map-scale';

    }
     
    @import '../map-legend';

    .legend  {
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    
    .info-container {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        flex-basis: 50%;

        .info {
            background-color: #fff;
            padding: 4px 10px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 0.9em;
            display: flex;
            align-items: flex-start;

            .fa {
                margin-right: 8px;
                margin-top: 6px;
            }

            p {
                margin: 0;
            }
        }
    }

     
    /* 
    @media only screen and (max-width: 1080px) {
        #world-map {
            height: calc(56vh - 108px);
        }
        .legend {
            height: 108px;
        }
    }
    @media only screen and (max-width: 720px) {
        flex-wrap: wrap;
        height: auto;

        #world-map{
            flex-basis: 100%;
            height: 360px;
        }
        .legend{
            flex-basis: 100%;
            height: auto;
        }
    }
    @media only screen and (max-width: 512px) {
        flex-wrap: wrap;
        height: auto;

        #world-map{
            flex-basis: 100%;
            height: 360px;
        }
        .legend{
            flex-basis: 100%;
        }
    }
    */
}
