.map-container {
    background-color: #fff;
    margin-bottom: 10px;

    #world-map {
        height: 480px;
        background-color: rgba(0, 0, 0, 0.1);

        path.leaflet-map-pane {
            z-index: 11;
        }

        // .leaflet-popup-pane {
        //     .leaflet-popup-close-button {
        //         display: none;
        //     }
        // }

        @import '../map-scale';
    }
     
    @import '../map-legend';
     
    /* 
    @media only screen and (max-width: 1080px) {
        #world-map {
            height: calc(56vh - 108px);
        }
        .legend {
            height: 108px;
        }
    }
    @media only screen and (max-width: 720px) {
        flex-wrap: wrap;
        height: auto;

        #world-map{
            flex-basis: 100%;
            height: 360px;
        }
        .legend{
            flex-basis: 100%;
            height: auto;
        }
    }
    @media only screen and (max-width: 512px) {
        flex-wrap: wrap;
        height: auto;

        #world-map{
            flex-basis: 100%;
            height: 360px;
        }
        .legend{
            flex-basis: 100%;
        }
    }
    */
}
